* {
    margin: 0;
    padding: 0;
    --transition: all 0.5s ease;
    --color-hover: #DDA236;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e6e8ed;
}

.font-weight-bold {
    font-weight: 600;
}


/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1b2841;
    height: 70px;
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    margin-left: 80px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: var(--transition);
    width: calc(100% -80px);
}

.header p{
    font-size: 20px;
    margin-top: 15px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
}


.popup-content {
    text-align: center;
}

.popup-content p{
    font-weight: bold;
}

.popup-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #2e3785;
    border-radius: 5px;
    outline: none;
    background-color: #2e3785;
    color: white;
}

.popup-button {
    background-color: #2e3785;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.close {
    color: #ffff;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.copied {
    color: black;
}


.divider {
    border-top: 1px solid #d2d2d3; 
    margin: 10px 0; 
    
}

/* MAIN CONTAINER */
.main-container {
    margin-left: 80px;
    padding: 2rem 1.5rem;
    transition: var(--transition);
    min-height: calc(100vh - 80px);
}

.main-title > p {
    font-size: 17px;
    color: #414141;
}



.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.single-view{
    display: grid;
    grid-template-columns: 1fr
}

.big-chart{
    height: 600px;
}

.charts-card {
    background-color: #ffffff;
    max-width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    overflow-x: hidden;
}

.charts-card:hover {
    box-shadow: 0 12px 20px -6px rgba(0, 0, 0, 0.5); 
}

.chart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.chart-list{
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

.chart-title {
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    color: #383858;
}

.button-group {
    display: flex;
}

.form-error{
    color: #aa1507;
    font-size: 15px;
}

.form-success{
    color: #26b82d;
    font-size:  15px;
}

.text-green{
    color: #26b82d;
}

.bold{
    font-weight: bold;
}

.project-details {
    position: relative;
    margin-bottom: 20px;
}

.project-details p {
    margin: 5px 0;
}

.project-details .desc-title{
    margin-top: 10px;
}

.project-details .desc {
    margin-bottom: 10px;
}

.project-details .due-date{
    position: absolute;
    right: 10px;
    top: 5px;
}

.red {
    color: red;
}

.sub-text{
    font-weight: 200;
    margin-top: -10px;
}

.shadow-effect {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
    z-index: 900;
    overflow: hidden;
    transition: var(--transition);
}

/*to-do-list*/

.task-item {
    display: flex;
    align-items: center;
}


.task-item p{
    padding-left: 20px;
}

.task-text.completed {
    text-decoration: line-through; /* Adds a line through the task text */
    color: #707070; /* Optional: change the color to indicate the task is completed */
}


.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-text {
    flex-grow: 1;
    margin-left: 10px; /* Add space between the button and the text */
    padding-top: 15px;
}


.deadline {
    margin-right: 10px; /* Space before the dropdown */
    
}

.complete-task-button {
    border: 2px solid #9799ab; /* Default border color */
    border-radius: 50%; /* Make it round */
    width: 20px; /* Size of the button */
    height: 20px; /* Size of the button */
    background-color: #ffffff; /* Background color */
    cursor: pointer;
    outline: none;
    margin-right: 5px; /* Add some space between the button and the task text */
    transition: border-color 0.3s; /* Smooth transition for color change */
}

.complete-task-button.completed {
    background-color: #006400; /* Dark green background for completed tasks */
    border-color: #006400; /* Optional: Change the border color to match the background */
}

.complete-task-button:hover {
    border-color: #004d00; /* An even darker green color for hover state */
    background-color: #e6ffe6; /* Optional: a very light green background for hover state */
}


.delete-task-button{
    display: flex;
    justify-content: flex-end;
    background-color:  #FF0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

}
.delete-task-button:hover {
    background-color:  #16171d; /* Change color on hover */
}


/*---Project and Threads---*/

.task-completed-button{
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 4px 2px;
    margin-left: -10px;
    cursor: pointer;
}

.task-completed-button:hover{
    background-color: #45a049;  
}

.add-task-button,
.create-task-button,
.create-thread-button,
.create-project-button,
.edit-project-button,
.edit-task-button,
.member-add-button {
    margin-left: 10px;
}


.add-task-button button,
.create-task-button button,
.create-thread-button button,
.create-project-button button,
.edit-project-button button,
.edit-task-button button,
.member-add-button button {
    background-color:  #21232d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.add-task-button button:hover,
.create-task-button button:hover,
.create-thread-button button:hover,
.create-project-button button:hover,
.edit-project-button button:hover,
.edit-task-button button:hover,
.member-add-button button:hover {
    background-color: #255cca; 
}



/* form content */
.project-form-container{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.project-form-content{
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #383858;
}

.project-form-content label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.project-form-content input[type="text"],
.project-form-content input[type="date"],
.project-form-content input[type="time"],
.project-form-content select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    
}


.project-form-content button {
    margin-top: 10px;
    background-color:  #383858;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}




.project-form-content button:hover {
    background-color: #255cca;
    color: white;
}

/* Table List design*/

#thread-tdbody,
#project-tdbody,
#employee-tdbody{
    vertical-align: middle !important;
}

#project-tdbody td:first-child{
    padding-left: 22px;
}

#employee-tdbody td:first-child{
    padding-left: 40px;
}


.proj_name{
    margin-top: 10px;
    cursor: pointer;
}

.title_name:hover, 
.proj_name:hover{
    color: #1e4288;
}

.title_name{
    cursor: pointer;
}



/* Description  and Contents */
.contents-container,
.description-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.contents-content,
.description-content {
    max-width: 70%;
    max-height: 70%;
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #383858;
    overflow-y: auto;
}


/* Style the form input and button */
.project-form-content textarea {
    margin: 0; 
    padding: 5px;
}



/* Add members css*/

/* Member add button styles */

@media (max-width: 768px) {
    .chart-card {
        grid-template-columns: 1fr;
    }

    .header,
    .main-container{
        transition: none;
    }

}
